<body>
  <canvas id="webgl-canvas" width="800" height="600">
    Your browser does not support the HTML5 canvas element.
  </canvas>
  <!-- ch02.05 -->
  <div id="info">
    <table>
      <tr>
        <th>Buffer</th>
        <th>Name</th>
        <th>Size</th>
        <th>Usage</th>
      </tr>
      <tr>
        <td>VBO:</td>
        <td id="t-vbo-name"></td>
        <td id="t-vbo-size"></td>
        <td id="t-vbo-usage"></td>
      </tr>
      <tr>
        <td>IBO:</td>
        <td id="t-ibo-name"></td>
        <td id="t-ibo-size"></td>
        <td id="t-ibo-usage"></td>
      </tr>
    </table>

    <ul>
      <li>Is vertices a VBO? <strong id="s-is-vertices-vbo"></strong></li>
      <li>Is indices a IBO? <strong id="s-is-indices-ibo"></strong></li>
      <li>Is coneVertexBuffer a VBO? <strong id="s-is-cone-vertex-buffer-vbo"></strong></li>
      <li>Is coneIndexBuffer a IBO? <strong id="s-is-cone-Index-buffer-ibo"></strong></li>
    </ul>
  </div>
</body>